body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
}

h2 {
  margin: 20px;
}

.square {
  margin: 0;
  padding: 0;
  min-width: 1px;
  min-height: 1px;
  flex: 1;
  background-color: white;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  flex: 1;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 960px;
  height: 960px;
  border: 8px solid transparent;
  border-image: linear-gradient(135deg, red, orange, yellow, green, blue, purple);
  border-image-slice: 1;
}